<div class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <p class="mb-8 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-black">Frequently asked questions
        </p>
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How do I register my bus fleet with BusNGo?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">To register your bus fleet with BusNGo, click on the
                        "SIGN IN / SIGN UP" link at the top right corner of the registration form, fill in your mobile
                        number, and follow the prompts to complete your registration.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        What documents are required for registration?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">You will need to provide a valid government-issued ID,
                        proof of ownership for your buses, and other relevant documents that verify the legal operation
                        of your fleet.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How does BusNGo help increase my ticket sales?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">BusNGo connects your bus fleet with millions of
                        travelers through its extensive e-ticketing platform, ensuring higher visibility and more
                        bookings for your buses.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        What support does BusNGo offer to bus operators?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">BusNGo provides 24/7 support to all registered bus
                        operators. Our dedicated team assists with technical issues, booking management, and any other
                        queries you may have.</p>
                    <p class="text-gray-500 dark:text-gray-400">Feel free to <a href="#"
                            class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
                            target="_blank" rel="noreferrer">contact us</a> for any assistance you need.</p>
                </div>
            </div>
            <div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Are there any fees associated with registering my fleet?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">Yes, there are registration fees and transaction fees
                        associated with listing your buses on BusNGo. Please contact our support team for detailed
                        information on the fee structure.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How do I manage my bus schedules and fares?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">Once registered, you can log in to the BusNGo operator
                        portal, where you can easily manage your bus schedules, set fares, and monitor bookings in
                        real-time.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        What happens if a bus gets delayed or cancelled?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">In the event of delays or cancellations, you can update
                        the status through the operator portal. BusNGo will notify affected passengers and offer
                        rebooking or refund options as per your policy.</p>
                </div>
                <div class="mb-10">
                    <p class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-black">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How does BusNGo handle customer feedback?
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">BusNGo encourages passengers to leave feedback and
                        reviews for their travel experiences. You can view and respond to this feedback through the
                        operator portal to improve your services.</p>
                </div>
            </div>
        </div>
    </div>
</div>