<div class="flex items-center justify-end space-x-4 mt-6">
    <span class="text-sm font-medium mb-1 text-gray-600">
        1 - {{ (pageIndex + 1) * pageSize }} of {{ length }}
    </span>

    <button (click)="firstPage()" [disabled]="pageIndex === 0"
        class="p-1 rounded-full hover:bg-gray-200 disabled:opacity-50 cursor-pointer" matTooltip="First Page">
        <mat-icon>first_page</mat-icon>
    </button>

    <button (click)="previousPage()" [disabled]="pageIndex === 0"
        class="p-1 rounded-full hover:bg-gray-200 disabled:opacity-50 cursor-pointer" matTooltip="Previous Page">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <button (click)="nextPage()" [disabled]="(pageIndex + 1) * pageSize >= length"
        class="p-1 rounded-full hover:bg-gray-200 disabled:opacity-50 cursor-pointer" matTooltip="Next Page">
        <mat-icon>chevron_right</mat-icon>
    </button>

    <button (click)="lastPage()" [disabled]="(pageIndex + 1) * pageSize >= length"
        class="p-1 rounded-full hover:bg-gray-200 disabled:opacity-50 cursor-pointer" matTooltip="Last Page">
        <mat-icon>last_page</mat-icon>
    </button>
</div>