<nav class="bg-white border-b border-gray-200 shadow-md fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16">
             <div class="flex-shrink-0 flex items-center hover:cursor-pointer">
                <span class="text-xl font-bold">
                    <span class="text-red-500">B</span>usNGo
                </span>
            </div>
            <div class="flex items-center">
                <button mat-button class="flex items-center space-x-1 text-lg text-black">
                    <mat-icon>account_circle</mat-icon>
                    <span class="font-serif">Admin</span>
                </button>
            </div>
        </div>
    </div>
</nav>