<app-ownernav></app-ownernav>

<div class="pt-20 pb-20">
    <div class="container mx-auto mt-10">
        <div class="bg-white p-2">
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="personalInfoForm">
                    <form [formGroup]="personalInfoForm">
                        <ng-template matStepLabel>Personal Information</ng-template>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
                            <app-form [form]="personalInfoForm" [fields]="ownerFirstNameField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="personalInfoForm" [fields]="ownerLastNameField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="personalInfoForm" [fields]="ownerEmailField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="personalInfoForm" [fields]="ownerMobileField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="personalInfoForm" [fields]="ownerPasswordField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="personalInfoForm" [fields]="ownerConfirmPasswordField" [hideSubmitButton]="true"></app-form>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button class="w-40" mat-stroked-button color="primary" (click)="onPersonalInfoSubmit()" matStepperNext>
                                Next
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="agencyDetailsForm">
                    <form [formGroup]="agencyDetailsForm">
                        <ng-template matStepLabel>Agency Details</ng-template>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">
                            <app-form [form]="agencyDetailsForm" [fields]="agencyNameField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="designationField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="countryField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="stateField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="cityField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="postalCodeField" [hideSubmitButton]="true"></app-form>
                            <app-form [form]="agencyDetailsForm" [fields]="addressField" [hideSubmitButton]="true"></app-form>
                        </div>

                        <div class="flex justify-between mt-8">
                            <button class="w-40" mat-stroked-button color="primary" matStepperPrevious> Back </button>
                            <button class="w-40" mat-stroked-button color="primary" (click)="onAgencyDetailsSubmit()" matStepperNext> Next </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Confirmation</ng-template>
                    <div class="mt-8 space-y-6">
                        <p class="text-3xl font-serif mb-4">Please review your informations :</p>
                        <div class="bg-white overflow-hidden">
                            <div class="px-6 py-4 bg-gray-50 border-b border-gray-200 flex items-center">
                                <div class="w-8 h-8 rounded-full bg-gray-500 flex items-center justify-center mr-4">
                                    <span class="text-white font-bold">1</span>
                                </div>
                                <p class="text-2xl font-medium mt-3">Personal Information</p>
                            </div>
                            <div class="px-6 py-4">
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">First Name :  </span> {{ ownerDetails?.firstName }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Last Name :  </span> {{ ownerDetails?.lastName }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Email :  </span> {{ ownerDetails?.email }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Mobile :  </span> {{ ownerDetails?.mobile }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white overflow-hidden border-b">
                            <div class="px-6 py-4 bg-gray-50 border-b border-gray-200 flex items-center">
                                <div class="w-8 h-8 rounded-full bg-gray-500 flex items-center justify-center mr-4">
                                    <span class="text-white font-bold">2</span>
                                </div>
                                <p class="text-2xl font-medium mt-3">Agency Information</p>
                            </div>
                            <div class="px-6 py-4">
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Agency Name:</span> {{ ownerDetails?.agencyName }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Designation:</span> {{ ownerDetails?.designation }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Country:</span> {{ ownerDetails?.country }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">State:</span> {{ ownerDetails?.state }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">City:</span> {{ ownerDetails?.city }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Postal Code:</span> {{ ownerDetails?.postalCode }}</p>
                                    <p class="text-lg font-sans"><span class="font-serif text-sm">Address:</span> {{ ownerDetails?.address }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between mt-8">
                            <button class="w-40" mat-stroked-button color="primary" matStepperPrevious>
                                Back
                            </button>
                            <button class="w-64" mat-stroked-button color="warn" (click)="confirmAndSubmit()">
                                Confirm and Submit
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>

<app-bus-ownerfooter></app-bus-ownerfooter>