<div class="modal-container">
    <button class="close-button" (click)="onClose()">&#10005;</button>
    <p class="modal-title">Seat Layout Preview</p>
    <mat-dialog-content class="custom-scroll">
        <app-seat-preview class="large-preview" [rows]="data.rows" [columns]="data.columns"
            [driverSeatPosition]="data.driverSeatPosition" [selectedSeats]="data.selectedSeats" [previewMode]="true">
        </app-seat-preview>
    </mat-dialog-content>
    <div class="preview-info">
        <p class="info-text">This preview shows your custom bus layout.</p>
        <p class="feature-list font-serif">Layout Name: <span class="font-serif font-bold">{{data.layoutName}}</span></p>
        <p class="feature-list font-serif">Selected Seats: <span class="font-sans font-bold">{{selectedSeatsCount}}</span></p>
        <p class="feature-list font-serif">Driver Seat: <span class="font-serif font-bold"> {{data.driverSeatPosition}}</span></p>
        <p class="note font-semibold">Note: <span class="text-red-500">You can adjust the layout in the edit settings.</span></p>
    </div>
</div>