<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6 max-w-md mx-auto" [@fadeInOut]>
    <ng-container *ngFor="let field of fields">
        <ng-container *ngIf="!field.conditionalDisplay || form.get(field.conditionalDisplay)?.value">
            <div class="relative" [@slideInOut]>
                <ng-container [ngSwitch]="field.type">
                    <ng-container *ngSwitchCase="'select'">
                        <ng-container *ngIf="field.name === 'additionalStops'">
                            <div formArrayName="additionalStops">
                                <div *ngFor="let stop of additionalStops.controls; let i = index"
                                    class="flex items-center mb-4 relative">
                                    <div class="flex-grow">
                                        <mat-select [formControlName]="i"
                                            class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer">
                                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                                <mat-icon>{{option.iconClass}}</mat-icon>
                                                {{option.label}}
                                            </mat-option>
                                        </mat-select>
                                        <label
                                            class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                                            {{ field.placeholder }}
                                        </label>
                                    </div>
                                    <button mat-icon-button type="button" (click)="removeAdditionalStop(i)"
                                        class="ml-2">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div formArrayName="additionalStopsTime">
                                <div *ngFor="let stopTime of additionalStopsTime.controls; let i = index"
                                    class="flex items-center mb-4 relative">
                                    <div class="flex-grow">
                                        <input type="text" [formControlName]="i"
                                            class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer"
                                            placeholder=" ">
                                        <label [for]="'additionalStopsTime-' + i"
                                            class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                                            Reaching Time
                                        </label>
                                    </div>
                                    <button mat-icon-button type="button" (click)="removeAdditionalStopTime(i)"
                                        class="ml-2">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <button mat-button color="warn" type="button" (click)="addAdditionalStop()" class="mt-2">
                                Add more stops
                            </button>
                        </ng-container>

                        <ng-container *ngIf="field.name !== 'additionalStops'">
                            <mat-select [id]="field.name" [formControlName]="field.name"
                                class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer">
                                <mat-option *ngFor="let option of field.options" [value]="option.value">
                                    <mat-icon>{{option.iconClass}}</mat-icon>
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                            <label [for]="field.name"
                                class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                                {{ field.placeholder }}
                            </label>
                        </ng-container>
                    </ng-container>


                    <ng-container *ngSwitchCase="'toggle'">
                        <div class="flex items-center space-x-3">
                            <span class="text-gray-600">{{ field.placeholder }}</span>
                            <mat-slide-toggle [id]="field.name" [formControlName]="field.name"></mat-slide-toggle>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'checkbox'">
                        <div class="flex items-center space-x-3">
                            <mat-checkbox [id]="field.name" [formControlName]="field.name">
                                {{ field.placeholder }}
                            </mat-checkbox>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'iconSelect'">
                        <mat-select [id]="field.name" [formControlName]="field.name"
                            class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                <mat-icon>{{option.iconClass}}</mat-icon>
                                {{option.label}}
                            </mat-option>
                        </mat-select>
                        <label [for]="field.name"
                            class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                            {{ field.placeholder }}
                        </label>
                    </ng-container>

                    <ng-container *ngSwitchCase="'autocomplete'">
                        <input [type]="field.type" [id]="field.name" [formControlName]="field.name"
                            class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer"
                            placeholder=" " (input)="search($event, field)">
                        <label [for]="field.name"
                            class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                            {{ field.placeholder }}
                        </label>
                        <ul *ngIf="locations.length > 0"
                            class="absolute z-10 w-full bg-white border border-gray-300 mt-1 rounded-md shadow-lg">
                            <li *ngFor="let location of locations" class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                                (click)="onSelect(location, field)">
                                {{ location }}
                            </li>
                        </ul>
                    </ng-container>

                    <ng-container *ngSwitchCase="'multiselect'">
                        <div class="relative">
                            <input [id]="field.name" [formControlName]="field.name" readonly
                                class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer cursor-pointer"
                                [value]="getMultiselectDisplayValue(field.name)"
                                (click)="openMultiselectDropdown(field.name)">
                            <label [for]="field.name"
                                class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                                {{ field.placeholder }}
                            </label>
                        </div>
                        <div *ngIf="isMultiselectOpen(field.name)"
                            class="absolute z-10 w-full bg-white border border-gray-300 mt-1 rounded-md shadow-lg max-h-60 overflow-y-auto">
                            <div *ngFor="let option of field.options"
                                class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                                <mat-checkbox [checked]="isOptionSelected(field.name, option.value)"
                                    (change)="toggleMultiselectOption(field.name, option.value)">
                                    {{option.label}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'password'">
                        <div class="relative">
                            <input [type]="field.showPassword ? 'text' : 'password'" [id]="field.name" [ngClass]="{
                                    'border-blue-500 focus:border-blue-400 focus:ring-blue-400': !shouldShowError(field.name),
                                    'border-red-500 focus:border-transparent focus:ring-transparent': shouldShowError(field.name)
                                }" [formControlName]="field.name"
                                class="block w-full px-3 py-3 text-gray-700 bg-white rounded-lg focus:outline-none focus:ring-1 transition-colors peer"
                                placeholder=" "
                                [style.border]="shouldShowError(field.name) ? '1px solid red' : '1px solid gainsboro'">
                            <label [for]="field.name"
                                class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-3 peer-focus:bg-white peer-focus:px-1 peer-focus:text-xs peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                                {{ field.placeholder }}
                            </label>
                            <button type="button" class="absolute right-3 top-3 text-gray-400"
                                (click)="togglePasswordVisibility(field)">
                                <mat-icon>{{ field.showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        <input [type]="field.type" [id]="field.name" [formControlName]="field.name" [ngClass]="{
                                'border-blue-500 focus:border-blue-400 focus:ring-blue-400': !shouldShowError(field.name),
                                'border-red-500 focus:border-transparent focus:ring-transparent': shouldShowError(field.name)
                            }"
                            class="block w-full px-3 py-3 text-gray-700 bg-white rounded-lg focus:outline-none focus:ring-1 transition-colors peer"
                            placeholder=" "
                            [style.border]="shouldShowError(field.name) ? '1px solid red' : '1px solid gainsboro'">
                        <label [for]="field.name"
                            class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-3 peer-focus:bg-white peer-focus:px-1 peer-focus:text-xs peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-3 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                            {{ field.placeholder }}
                        </label>
                    </ng-container>

                </ng-container>

                <div class="h-1.5 ml-2">
                    <p *ngIf="form.get(field.name)?.touched || form.get(field.name)?.dirty"
                        class="text-red-500 overflow-hidden text-ellipsis whitespace-nowrap" style="font-size: small;">
                        {{ getAllErrorMessages(field) }}
                    </p>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <p class="text-2xl font-serif text-blue-600 mb-4 text-center" *ngIf="form.get('rows')?.value">Seat Preview</p>
    <app-seat-preview [rows]="form.get('rows')?.value" [columns]="form.get('columns')?.value"
        [selectedSeats]="form.get('selectedSeats')?.value" (seatsSelected)="onSeatsSelected($event)"
        [viewType]="'owner'">
    </app-seat-preview>

    <button *ngIf="!hideSubmitButton" mat-raised-button style="background-color: rgb(5, 109, 173); color: white;"
        class="w-full font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-opacity-80 transition-colors duration-300">{{
        submitButtonText }}
    </button>
</form>