.mat-mdc-table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.mat-mdc-header-row {
    background-color: #f3f4f6;
}

.mat-mdc-header-cell {
    color: rgb(52, 50, 50);
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    padding: 16px 24px;
}

.mat-column-actions {
    text-align: right;
}

button.mat-mdc-button {
    min-width: 64px;
}