<div class="flex h-screen overflow-hidden">
    <app-admin-side-nav (sidebarStateChange)="onSidebarStateChange($event)"></app-admin-side-nav>
    <div class="flex-grow overflow-y-auto transition-all duration-300"
        [ngClass]="{'ml-[300px]': !isSidebarCollapsed, 'ml-[100px]': isSidebarCollapsed}">
        <app-data-table 
            [data]="verifiedOwners" 
            [columns]="ownersColumns" 
            [showActions]="false" 
            [showAddNewButton]="false" 
            [showViewDetails]="true"
            [showBlockUnblock]="true"
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage" 
            (pageChange)="onPageChange($event)"
            (viewDetails)="openModal($event)"
            (blockUnblock)="onBlockUnblock($event)"
            title="ALL VERIFIED OWNERS">
        </app-data-table>
    </div>
</div>