<div class="fixed top-0 left-0 right-0 z-50 bg-white">
    <app-usernav></app-usernav>

    <div class="p-2 mt-1.5" style="background-color: #f2f2f2">
        <div class="container mx-auto flex items-center justify-center space-x-4 mt-16">
            <app-form [form]="updateSearchForm" [fields]="From" (formSubmit)="onUpdateSearch()"
                submitButtonText="Update" [hideSubmitButton]="true" class="w-80"></app-form>

            <div (click)="swapFromTo()"
                class="bg-white rounded-full p-2 flex items-center justify-center z-10 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-400" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                </svg>
            </div>

            <app-form [form]="updateSearchForm" [fields]="To" (formSubmit)="onUpdateSearch()" submitButtonText="Update"
                [hideSubmitButton]="true" class="w-80"></app-form>

            <app-form [form]="updateSearchForm" [fields]="Date" (formSubmit)="onUpdateSearch()"
                submitButtonText="Update" [hideSubmitButton]="true" class="w-80"></app-form>

            <button (click)="onUpdateSearch()" mat-button color="warn" style="font-size: 13px; font-weight: 600;">
                UPDATE SEARCH</button>
        </div>
    </div>
</div>