<div class="fixed top-0 left-0 right-0 z-50 bg-white">
    <app-usernav></app-usernav>

    <div class="bg-slate-500 p-2">
        <div class="container mx-auto flex items-center justify-center space-x-4 mt-16">
            <div class="relative w-80">
                <input type="text" value="Kozhikode"
                    class="w-full bg-white rounded-md p-3 pr-10 focus:outline-none text-gray-700" placeholder="From">
            </div>

            <div class="bg-white rounded-full p-2 flex items-center justify-center z-10">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-400" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                </svg>
            </div>

            <div class="relative w-80">
                <input type="text" value="Kannur"
                    class="w-full bg-white rounded-md p-3 pr-10 focus:outline-none text-gray-700" placeholder="To">
            </div>

            <div class="relative w-80">
                <input type="text" value="Jul 22, 2024"
                    class="w-full bg-white rounded-md p-3 pr-10 focus:outline-none text-gray-700"
                    placeholder="Departure Date">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd" />
                </svg>
            </div>

            <button
                class="bg-white text-blue-400 font-semibold px-6 py-3 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500">UPDATE SEARCH
            </button>
        </div>
    </div>
</div>