<app-admin-nav (toggleSidebar)="toggleSidebar()"></app-admin-nav>
<div class="sidebar shadow-md" [class.collapsed]="isCollapsed">
    <nav class="px-4 py-2 h-full overflow-y-auto">
        <div class="sidebar-item border-b" [routerLink]="['/admin/listUsers']" routerLinkActive="active-route">
            <mat-icon class="mt-1.5">people</mat-icon>
            <button mat-button [color]="isRouteActive('/admin/listUsers') ? 'warn' : 'black'" *ngIf="!isCollapsed">Users</button>
        </div>
        <div class="sidebar-item border-b" [routerLink]="['/admin/ownerRegistrationRequests']"
            routerLinkActive="active-route">
            <mat-icon class="mt-1.5">how_to_reg</mat-icon>
            <button mat-button [color]="isRouteActive('/admin/ownerRegistrationRequests') ? 'warn' : 'black'" *ngIf="!isCollapsed">Owner Requests</button>
        </div>
        <div class="sidebar-item border-b" [routerLink]="['/admin/listOwners']" routerLinkActive="active-route">
            <mat-icon class="mt-1.5">business</mat-icon>
            <button mat-button [color]="isRouteActive('/admin/listOwners') ? 'warn' : 'black'" *ngIf="!isCollapsed">Owners</button>
        </div>
        <div class="sidebar-item" (click)="logout()">
            <mat-icon class="mt-1.5">logout</mat-icon>
            <button mat-button *ngIf="!isCollapsed">Logout</button>
        </div>
    </nav>
</div>