<div class="flex flex-col min-h-screen bg-white">
    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-md w-full bg-white rounded-lg shadow-md p-8 m-4">
            <p class="text-3xl font-serif text-center mb-2">Welcome to BusNGo</p>
            <p class="text-center font-serif text-black mb-6">Admin Login to BusNGo dashboard</p>
            <app-form [form]="adminLoginForm" [fields]="adminLoginFields" submitButtonText="Sign in"
                (formSubmit)="onSubmit()">
            </app-form>
        </div>
    </div>
    <app-adminfooter></app-adminfooter>
</div>