<div class="dialog-container">
    <p mat-dialog-title class="dialog-title"><i class="pi pi-exclamation-triangle"></i> {{ data.title }}</p>
    <mat-dialog-content class="dialog-content">
        <p>{{ data.message }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="dialog-actions">
        <button mat-button [mat-dialog-close]="false">
            <mat-icon>close</mat-icon> Cancel
        </button>
        <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial >
            <mat-icon>check</mat-icon> Confirm
        </button>
    </mat-dialog-actions>
</div>