.dialog-container {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
}

.dialog-title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family:Arial, Helvetica, sans-serif;
}

.dialog-content {
    color: rgb(97, 97, 97);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
}

mat-icon {
    margin-right: 8px;
}