<nav class="bg-gray-50 border-b border-gray-200 shadow-md fixed top-0 left-0 right-0 z-50">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16">
            <div [routerLink]="'/user/home'" class="flex-shrink-0 flex items-center hover:cursor-pointer">
                <span class="text-xl font-bold">
                    <span class="text-red-500">B</span>usNGo
                </span>
            </div>
            <div class="flex items-center space-x-4">
                <button mat-button [matMenuTriggerFor]="accountMenu" class="text-sm text-black" *ngIf="!loginService.isLoggedIn()">
                    <mat-icon style="color: black;">account_circle</mat-icon>
                    <span *ngIf="!loginService.isLoggedIn()">Account</span>
                    <span *ngIf="loginService.isLoggedIn()">Hi, {{ firstName }}</span> 
                </button>
                <mat-icon style="margin-left: -2px;" *ngIf="!loginService.isLoggedIn()">arrow_drop_down</mat-icon>
                <button [matMenuTriggerFor]="accountMenu" *ngIf="loginService.isLoggedIn()" class="flex items-center space-x-2 px-3 py-2 text-sm text-black rounded-md border hover:bg-gray-100">
                    <mat-icon style="color: black;">account_circle</mat-icon>
                    <span *ngIf="!loginService.isLoggedIn()">Account</span>
                    <span *ngIf="loginService.isLoggedIn()">Hi, {{ firstName }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-black" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <ng-container *ngIf="!loginService.isLoggedIn(); else loggedInMenu">
                        <button mat-menu-item [routerLink]="'/login'">
                            <mat-icon>login</mat-icon>
                            <span>Login / SignUp</span>
                        </button>
                        <button mat-menu-item [routerLink]="'/help'">
                            <mat-icon style="color: black;">help</mat-icon>
                            Help
                        </button>
                    </ng-container>
                    <ng-template #loggedInMenu>
                        <button mat-menu-item [routerLink]="'/user/profile'">
                            <mat-icon style="color: black;">person</mat-icon>
                            Profile
                        </button>
                        <button mat-menu-item [routerLink]="'/help'">
                            <mat-icon style="color: black;">help</mat-icon>
                            Help
                        </button>
                        <button mat-menu-item (click)="logout()" style="width: 180px;">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </ng-template>
                </mat-menu>
            </div>
        </div>
    </div>
</nav>