<app-ownernav></app-ownernav>

<div class="flex flex-col h-screen">
    <div class="flex flex-col flex-grow pt-14 ">
        <div class="w-full bg-emerald-400 p-12 flex items-center flex-grow">
            <div class="text-white">
                <p class="text-5xl font-bold leading-tight ">
                    Expand Your Business with BusNGo
                </p>
                <p class="text-3xl mt-4">
                    Reach Millions of Bus Travelers
                </p>
            </div>
            <div class="w-96 p-8 bg-white shadow-lg rounded-lg" style="margin-left: 120px;">
                <p class="text-xl font-semibold mb-6">
                    Sign In and Add Your Bus Fleet with BusNGo
                </p>
                <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <input type="email" placeholder="Enter Email" class="w-full p-3 mb-4 border rounded"
                        [(ngModel)]="loginData.email" name="email" required>
                    <input type="password" placeholder="Enter Password" class="w-full p-3 mb-4 border rounded"
                        [(ngModel)]="loginData.password" name="password" required>
                    <button type="submit"
                        class="w-full py-3 bg-gray-300 text-gray-700 rounded font-semibold hover:bg-gray-400"
                        [disabled]="!loginForm.form.valid">
                        SIGN IN
                    </button>
                </form>
                <div class="text-center mb-6 mt-6">
                    <p class="text-black text-sm">Do you already have an account? <a routerLink="/ownerRegister">Sign up here</a> </p>
                </div>
            </div>

        </div>
    </div>

    <!-- Bottom section -->
    <div class="bg-white py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <p class="text-3xl font-bold mb-4 text-center">Bus Registration on BusNGo</p>
        <p class="text-black leading-relaxed ">
            Grow your transportation business with BusNGo, the most reliable bus e-ticketing platform, and access
            millions of customers. BusNGo has served over 20 million passengers to date and has a vast market. It is
            connected with 2500+ bus operators across the country. You can partner with BusNGo to unlock a potential
            market for your business. BusNGo operator registration helps bus companies to upscale their ticket
            sales. Read on to know more about BusNGo bus registration.
        </p>
    </div>
</div>

<app-owner-faq></app-owner-faq>
<app-owner-footer></app-owner-footer>