/* .seat-layout {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.driver-seat {
    background-color: #ffd700;
} */

.seat-layout {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: pointer;
}

.driver-seat {
    background-color: #ffd700;
    cursor: not-allowed;
}

.selected {
    background-color: #4CAF50;
    color: white;
}