<app-usernav></app-usernav>
<div class="bg-white min-h-screen flex flex-col pt-24">
    <div class="flex-grow flex items-start justify-center px-4 pt-8">
        <div class="flex w-full mb-24 max-w-5xl">
            <div #imageDiv class="hidden md:block md:w-1/2 bg-gray-50 overflow-hidden">
                <div class="w-full h-full bg-white p-8">
                    <img src="assets/User/Bus Stop (2).gif?v={{timestamp}}" alt="Bus Stop Animation"
                        class="w-full h-auto">
                </div>
            </div>

            <div #formDiv class="w-full md:w-1/2 p-8 rounded-r-lg shadow-md">
                <ng-container *ngIf="!showForgotPassword">
                    <p class="text-2xl font-bold mb-6">
                        <mat-icon class="text-2xl mr-3" style="font-size: inherit;">person</mat-icon>
                        User Login
                    </p>
                    <div class="flex mb-6 border-b">
                        <button class="flex-1 px-4 py-2 border-b-2 border-blue-500 text-blue-500 font-medium">Log in</button>
                        <button [routerLink]="'/userRegister'" class="flex-1 px-4 py-2 text-gray-500">Register</button>
                    </div>

                    <app-form [form]="loginForm" [fields]="loginFields" submitButtonText="Sign in" (formSubmit)="onSubmit($event)">
                    </app-form> 

                    <div class="mt-3 text-right">
                        <button mat-button color="primary" (click)="toggleForgotPassword()">Forgot Password?</button>
                    </div>

                    <div class="mt-10 flex items-center justify-center mb-8">
                        <div class="w-full border-b border-gray-300"></div>
                        <span class="px-4 bg-gray-50 text-gray-500 font-medium">OR</span>
                        <div class="w-full border-b border-gray-300"></div>
                    </div>
                    <div class="mt-8 flex justify-center">
                        <div id="google-btn">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="showForgotPassword">
                    <div class="h-full flex-col items-start mt-28">
                        <p class="text-2xl font-bold mb-6 text-start">
                            <mat-icon class="text-2xl mr-3" style="font-size: inherit;">lock_reset</mat-icon>
                            Forgot Password
                        </p>
                        <app-form [form]="forgotPasswordForm" [fields]="forgotPasswordFields"
                            submitButtonText="Reset Password" (formSubmit)="onForgotPasswordSubmit($event)">
                        </app-form>

                        <div class="mt-3 text-right">
                            <button mat-button color="primary" (click)="toggleForgotPassword()">Back to Login</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>