.modal-container {
    padding: 24px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.modal-title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

mat-dialog-content {
    margin-bottom: 24px;
    max-height: 80vh;
}

.custom-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.animated-dialog .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    background: transparent;
    box-shadow: none;
}