<app-usernav></app-usernav>
<div class="min-h-screen flex flex-col pt-20">
    <div class="flex-grow flex items-start justify-center px-4 pt-8">
        <div class="flex w-full mb-20 max-w-5xl">
            <div #imageDiv class="hidden md:block md:w-1/2 bg-gray-50 overflow-hidden mt-20">
                <div class="w-full h-full bg-white p-8">
                    <img src="assets/User/city bus.gif?v={{timestamp}}" alt="City Bus" class="w-full h-auto">
                </div>
            </div>

            <div #formDiv class="w-full md:w-1/2 p-8 rounded-r-lg shadow-md">
                <p class="text-2xl font-bold mb-6">User Registration</p>

                <div class="flex mb-6 border-b">
                    <button class="flex-1 px-4 py-2 text-gray-500" [routerLink]="'/user/login'">Log in</button>
                    <button
                        class="flex-1 px-4 py-2 border-b-2 border-blue-500 text-blue-500 font-medium">Register</button>
                </div>

                <app-form [form]="registrationForm" [fields]="registrationFields" submitButtonText="Sign Up"
                    (formSubmit)="onSignUp($event)" [disabled]="isSignUpDisabled || registrationForm.invalid">
                </app-form>

                <div class="mt-10 flex items-center justify-center mb-8">
                    <div class="w-full border-b border-gray-300"></div>
                    <span class="px-4 bg-gray-50 text-gray-500 font-medium">OR</span>
                    <div class="w-full border-b border-gray-300"></div>
                </div>

                <div class="mt-8 flex justify-center">
                    <div id="GoogleSignUp">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>