<app-usernav></app-usernav>

<div class="min-h-screen flex flex-col pt-20">
    <div class="flex-grow flex items-start justify-center px-4 pt-8">
        <div class="flex w-full mb-20 max-w-5xl bg-gray-50 rounded-lg shadow-lg overflow-hidden">
            <!-- Image container -->
            <div class="relative hidden md:block md:w-1/2">
                <img src="assets/User/pexels-ericson-fernandes-855622-3459765.jpg" alt="Left side image"
                    class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-25"></div>
            </div>

            <!-- Form container -->
            <div class="w-full md:w-1/2 p-8">
                <p class="text-2xl font-bold mb-6">User Registration</p>

                <div class="flex mb-6 border-b">
                    <button class="flex-1 px-4 py-2 text-gray-500" [routerLink]="'/userLogin'">Log in</button>
                    <button
                        class="flex-1 px-4 py-2 border-b-2 border-blue-500 text-blue-500 font-medium">Register</button>
                </div>

                <form [formGroup]="registrationForm" (ngSubmit)="onSignUp()" class="space-y-4">
                    <div>
                        <label for="username" class="block text-sm font-medium text-black">Name</label>
                        <input type="text" formControlName="username" id="username"
                            class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            placeholder="Enter your Name" required>
                        <div *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            <div
                                *ngIf="registrationForm.get('username')?.errors?.['required'] || registrationForm.get('username')?.errors?.['whitespace']">
                                Name is required. It cannot be empty or consist only of spaces.</div>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium text-black">Email</label>
                        <input type="email" formControlName="email" id="email"
                            class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            placeholder="Enter your email" required>
                        <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            <div
                                *ngIf="registrationForm.get('email')?.errors?.['required'] || registrationForm.get('username')?.errors?.['whitespace']">
                                Email is required. It cannot be empty or consist only of spaces.</div>
                            <div *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a valid email
                                address.</div>
                            <div *ngIf="registrationForm.get('email')?.errors?.['alreadyRegistered']">This email is
                                already registered.</div>
                        </div>
                    </div>
                    <div>
                        <label for="phone" class="block text-sm font-medium text-black">Phone</label>
                        <input type="text" formControlName="phone" id="phone"
                            class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            placeholder="Enter your phone number" required>
                        <div *ngIf="registrationForm.get('phone')?.invalid && (registrationForm.get('phone')?.dirty || registrationForm.get('phone')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            <div
                                *ngIf="registrationForm.get('phone')?.errors?.['required'] || registrationForm.get('username')?.errors?.['whitespace']">
                                Phone number is required. It cannot be empty or consist only of spaces.</div>
                        </div>
                    </div>
                    <div>
                        <label for="password" class="block text-sm font-medium text-black">Password</label>
                        <input type="password" formControlName="password" id="password" placeholder="Enter password"
                            class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            required>
                        <div *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            <div
                                *ngIf="registrationForm.get('password')?.errors?.['required'] || registrationForm.get('username')?.errors?.['whitespace']">
                                Password is required. It cannot be empty or consist only of spaces.</div>
                            <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at
                                least 3 characters long.</div>
                        </div>
                    </div>
                    <div>
                        <label for="confirmpassword" class="block text-sm font-medium text-black">Confirm
                            Password</label>
                        <input type="password" formControlName="confirmpassword" id="confirmpassword"
                            placeholder="Enter confirm password"
                            class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                            required>
                        <div *ngIf="registrationForm.get('confirmpassword')?.invalid && (registrationForm.get('confirmpassword')?.dirty || registrationForm.get('confirmpassword')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            <div
                                *ngIf="registrationForm.get('confirmpassword')?.errors?.['required'] || registrationForm.get('username')?.errors?.['whitespace']">
                                Confirm password is required. It cannot be empty or consist only of spaces.</div>
                        </div>
                        <div *ngIf="registrationForm.errors?.['mismatch'] && (registrationForm.get('confirmpassword')?.dirty || registrationForm.get('confirmpassword')?.touched)"
                            class="text-red-500 text-xs mt-1">
                            Passwords do not match.
                        </div>
                    </div>
                    <button type="submit" [disabled]="isSignUpDisabled || registrationForm.invalid"
                        class="w-full text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        [ngClass]="{'opacity-50 cursor-not-allowed': isSignUpDisabled || registrationForm.invalid}">
                        Sign Up
                    </button>
                </form>
            </div>
            <app-otp *ngIf="showOtpModal" [email]="registrationForm.get('email')?.value || ''"
                (verifyOtp)="onVerifyOtp($event)" (closeModal)="closeOtpModal()">
            </app-otp>
        </div>
    </div>
</div>