<app-usernav></app-usernav>
<div class="min-h-screen flex flex-col pt-20">
    <div class="flex-grow flex items-start justify-center px-4 pt-8">
        <div class="flex w-full mb-20 max-w-5xl">
            <div #imageDiv class="hidden md:block md:w-1/2 bg-gray-50 overflow-hidden">
                <div class="w-full h-full bg-white p-8">
                    <img src="assets/User/Reset password (1).gif?v={{timestamp}}" alt="Reset Password" class="w-full h-auto">
                </div>
            </div>

            <div #formDiv class="w-full md:w-1/2 p-8 rounded-r-lg shadow-md mt-28">
                <p class="text-2xl font-bold mb-6 text-start">
                    <mat-icon class="text-2xl mr-3" style="font-size: inherit;">lock_reset</mat-icon>
                    Reset Password
                </p>
                <app-form [form]="resetForm" [fields]="resetFields" submitButtonText="Reset Password"
                    (formSubmit)="onSubmit()">
                </app-form>
                <div class="mt-3 text-right">
                    <button mat-button color="primary" (click)="backToLogin()">Back to Login</button>
                </div>
            </div>
        </div>
    </div>
</div>