.success-snackbar,
.error-snackbar {
    margin-top: 70px !important;
}

.success-snackbar {
    background: #4CAF50;
    color: white;
}

.error-snackbar {
    background: #F44336;
    color: white;
}