<div class="flex">
    <div class="w-2/3">
        <p class="font-semibold mb-4" style="font-size: medium; margin-left: 100px;">• Select your seat</p>
        <div class="mb-4" style="margin-left: 110px;">
            <span class="font-semibold text-xl">All</span>
            <span class="ml-4 text-lg font-medium">₹ {{trip.ticketPrice}}</span>
        </div>

        <app-seat-preview [rows]="getSeatLayout(trip).rows" [columns]="getSeatLayout(trip).columns"
            [selectedSeats]="getSeatLayout(trip).selectedSeats" [previewMode]="true" [isOwnerView]="true"
            [allowUserSelection]="true" [viewType]="'user'" (seatsSelected)="onSeatsSelected(trip.bus.name, $event)">
        </app-seat-preview>

        <div class="seat-legend mt-4" style="margin-left: 100px;">
            <div class="legend-item">
                <div class="square seater"></div>
                <span>Available</span>
            </div>
            <div class="legend-item"> 
                <div class="square selectedByYou"></div>
                <span>Selected By You</span>
            </div>
            <div class="legend-item">
                <div class="square booked"></div>
                <span>Booked</span>
            </div>
        </div>
        <app-seat-booking [trip]="trip" [boardingPoint]="boardingPoint"
            [droppingPoint]="droppingPoint" [seatNumbers]="getSelectedSeatNumbers()"></app-seat-booking>
    </div>

    <div class="w-1/2 pr-4">
        <div *ngIf="trip.selectedSeats?.length">
            <p class="font-semibold mb-4" style="font-size: medium;">• Select boarding and dropping point</p>
            <div class="mb-4 mt-10">
                <app-form [form]="boardingForm" [fields]="boardingFields" [submitButtonText]="'Continue'"
                    (formSubmit)="onBoardingPointSelected($event)" [hideSubmitButton]="true">
                </app-form>
            </div>
            <div>
                <app-form [form]="droppingForm" [fields]="droppingFields" [submitButtonText]="'Continue'"
                    (formSubmit)="onDroppingPointSelected($event)" [hideSubmitButton]="true">
                </app-form>
            </div>
            <div class="error-container">
                <div *ngIf="showErrorMessage" class="error-message text-red-500">
                    Please select both the boarding and dropping points.
                </div>
            </div>
            <div class="flex justify-between items-center">
                <div>
                    <p class="font-semibold text-sm mt-4">Seat(s) selected</p>
                    <p>
                        <ng-container *ngFor="let seat of trip.selectedSeats; let i = index">
                            {{ getSeatNumber(seat) }}
                            <span *ngIf="i < trip.selectedSeats.length - 1">, </span>
                        </ng-container>
                    </p>
                </div>
                <div>
                    <p class="font-semibold text-sm mt-4 mb-2">Ticket Price</p>
                    <p class="text-lg font-medium">₹ {{ totalTicketPrice }}</p>
                </div>
            </div>
            <button mat-raised-button color="primary" class="w-full py-2 mt-4" (click)="bookSeats()">
                CONTINUE
            </button>
        </div>
    </div>
</div>