<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
    <ng-container *ngFor="let field of fields">
        <div>
            <label [for]="field.name" class="block text-sm font-medium text-black">{{ field.label }}</label>
            <input [type]="field.type" [id]="field.name" [formControlName]="field.name"
                class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                [placeholder]="field.placeholder">
            <ng-container
                *ngIf="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                <p class="mt-1 text-red-500 text-xs" *ngFor="let error of field.errors">
                    <ng-container *ngIf="form.get(field.name)?.hasError(error.type)">
                        {{ error.message }}
                    </ng-container>
                </p>
            </ng-container>
        </div>
    </ng-container>
    <button type="submit"
        class="w-full text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        [disabled]="!form.valid">{{ submitButtonText }}
    </button>
</form>