<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6 max-w-md mx-auto">
    <ng-container *ngFor="let field of fields">
        <div class="relative">
            <input [type]="field.type" [id]="field.name" [formControlName]="field.name"
                class="block w-full px-4 py-3 text-gray-700 bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 transition-colors peer"
                placeholder=" " (input)="showTooltipIfInvalid(field.name, tooltip)">
            <label [for]="field.name"
                class="absolute left-4 top-3 text-gray-600 transition-all duration-200 peer-focus:-top-2.5 peer-focus:left-2 peer-focus:bg-white peer-focus:px-1 peer-focus:text-sm peer-focus:font-medium peer-[:not(:placeholder-shown)]:-top-2.5 peer-[:not(:placeholder-shown)]:left-2 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 peer-[:not(:placeholder-shown)]:text-sm peer-[:not(:placeholder-shown)]:font-medium">
                {{ field.placeholder }}
            </label>
            <div *ngIf="!shouldShowError(field.name) && form.get(field.name)?.valid"
                class="absolute right-3 top-4 text-green-500">
                <span class="material-icons">check_circle</span>
            </div>
            <div *ngIf="shouldShowError(field.name)" class="absolute right-3 top-4 text-red-500">
                <span class="material-icons">error</span>
            </div>
            <div class="absolute right-3 top-0 flex items-center h-full">
                <mat-icon *ngIf="shouldShowError(field.name)" class="text-red-500">error</mat-icon>
                <span class="tooltip" #tooltip="matTooltip" [matTooltip]="getAllErrorMessages(field)"
                    [matTooltipClass]="'error-tooltip'" [matTooltipDisabled]="!shouldShowError(field.name)"
                    matTooltipPosition="below">
                </span>
            </div>
        </div>
    </ng-container>
    <button mat-raised-button style="background-color: rgb(5, 109, 173); color: white;"
        class="w-full font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-opacity-80 transition-colors duration-300"
        [disabled]="!form.valid">{{ submitButtonText }}
    </button>
</form>