.input-placeholder::placeholder {
    color: white;
    font-weight: 400;
}

.swiper-slide {
    background-color: #fff !important;
    margin-right: 15px !important;
    border-radius: 8px;
}

.swap-button {
    background: white;
    border: 1px solid #d1d5db;
    border-left: none;
    border-right: none;
    padding: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    .home-content {
        margin-top: 70px;
    }
}

@media (max-width: 767px) {
    .mobile-no-blur {
        backdrop-filter: none !important;
        background-color: white !important;
    }

    .input-placeholder::placeholder {
        color: black !important;
        font-weight: 400;
    }

    .labels {
        color: black !important;
    }
}

.home-main {
    background-attachment: fixed;
    background-size: auto 90vh;
    background-repeat: no-repeat;
    background-position: center top;
}