<h2 mat-dialog-title>Enter OTP</h2>
<div>
    <mat-dialog-content>
        <app-form [form]="otpForm" [fields]="ownerOtpFields" [hideSubmitButton]="true">
        </app-form>
        <p>Time remaining: {{ remainingTime }} seconds</p>
        <button mat-button (click)="resendOtp()" [disabled]="!canResend">Resend OTP</button>
    </mat-dialog-content>
</div>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()" [disabled]="!otpForm.valid">Submit</button>
</mat-dialog-actions>