<app-ownernav></app-ownernav>

<div class="flex flex-col h-screen">
    <div class="flex flex-col flex-grow pt-14 ">
        <div class="w-full bg-emerald-400 p-12 flex items-center flex-grow">
            <div class="text-white">
                <p class="text-5xl font-bold leading-tight ">
                    Expand Your Business with BusNGo
                </p>
                <p class="text-3xl mt-4">
                    Reach Millions of Bus Travelers
                </p>
            </div>
            <div class="w-96 p-8 bg-white shadow-lg rounded-lg" style="margin-left: 120px;">
                <p class="text-xl font-semibold mb-6">
                    Register Your Bus Fleet with BusNGo
                </p>
                <form (ngSubmit)="verifyOtp()">
                    <input type="text" placeholder="Enter One Time Password (OTP)" [(ngModel)]="otp" name="otp"
                        class="w-full p-3 mb-4 border rounded" required>
                    <button type="submit"
                        class="w-full py-3 bg-gray-300 text-gray-700 rounded font-semibold hover:bg-gray-400">
                        VERIFY OTP
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bottom section -->
    <div class="bg-white py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <p class="text-3xl font-bold mb-4 text-center">Bus Registration on BusNGo</p>
        <p class="text-black leading-relaxed ">
            Grow your transportation business with BusNGo, the most reliable bus e-ticketing platform, and access
            millions of customers. BusNGo has served over 20 million passengers to date and has a vast market. It is
            connected with 2500+ bus operators across the country. You can partner with BusNGo to unlock a potential
            market for your business. BusNGo operator registration helps bus companies to upscale their ticket
            sales. Read on to know more about BusNGo bus registration.
        </p>
    </div>
</div>

<app-owner-faq></app-owner-faq>
<app-owner-footer></app-owner-footer>