<app-ownernav></app-ownernav>

<div class="owner-home-container">
    <div class="banner-container">
        <div class="banner-content">
            <h1>Optimize Your Fleet and <br> Trip Operations</h1>
            <p class="main">Streamline bus management and enhance<br>your business with BusNGo's advanced tools.</p>
        </div>
        <img src="assets/User/Banner-OP_HQ.png" alt="Owner Home Banner" class="banner-image">
    </div>
    <div class="benefits-container">
        <div class="benefit-item">
            <div class="benefit-icon">
                <img src="assets/User/optimize.svg" alt="Handshake icon">
            </div>
            <h3>Optimize your fleet</h3>
            <p class="sub">Have more control of your fleet, and increase profitability, thanks to our technology.</p>
        </div>

        <div class="benefit-item">
            <div class="benefit-icon">
                <img src="assets/User/enhance.svg" alt="Laptop icon">
            </div>
            <h3>Improve your operations</h3>
            <p class="sub">BusNGo's innovative technological platform will allow you to improve the efficiency of your
                internal
                management and improve your margins, without the need to invest in your own technology.</p>
        </div>

        <div class="benefit-item">
            <div class="benefit-icon">
                <img src="assets/User/fidelity.svg" alt="Shield icon">
            </div>
            <h3>Increase client loyalty</h3>
            <p class="sub">Offer your clients and users the most innovative solution for discretionary transport,
                exponentially
                improving the attractiveness of your commercial offer.</p>
        </div>

        <div class="benefit-item">
            <div class="benefit-icon">
                <img src="assets/User/expand.svg" alt="Growth icon">
            </div>
            <h3>Expand your business</h3>
            <p class="sub">Through our certifications and integrations with other platforms, you will be able to access
                clients with
                specific requirements.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>