<div class="flex h-screen overflow-hidden">
    <app-admin-side-nav (sidebarStateChange)="onSidebarStateChange($event)"></app-admin-side-nav>
    <div class="flex-grow overflow-y-auto transition-all duration-300" [ngClass]="{'ml-[300px]': !isSidebarCollapsed, 'ml-[100px]': isSidebarCollapsed}">
        <app-data-table 
            [data]="rejectedRequestsData" 
            [columns]="rejectedRequestColumns"
            [showActions]="false" 
            [showAddNewButton]="false"
            [showBlockUnblock]="false"
            [showViewDetails]="true"
            [showRejectedButton]="false" 
            [showPendingButton]="true" 
            [showApproveOrReject]="false"
            (viewDetails)="openModal($event)"
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            (pageChange)="onPageChange($event)" 
            [title]="'REJECTED REQUESTS OF OWNER REGISTRATIONS'"
            (pendingButtonClick)="navigateToRejectedRequests()">
    </app-data-table>
    </div>
</div>