<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center"
    id="my-modal">
    <div class="relative p-8 border w-full max-w-md shadow-lg rounded-md bg-white">
        <div class="text-center">
            <h3 class="text-xl leading-6 font-bold text-gray-900 mb-4">Enter OTP</h3>
            <div class="mt-2">
                <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="otp"
                        class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-3 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Enter 5-digit OTP" required>
                    <div *ngIf="otpForm.get('otp')?.invalid && (otpForm.get('otp')?.dirty || otpForm.get('otp')?.touched)"
                        class="text-red-500 text-xs mt-2">
                        <div
                            *ngIf="otpForm.get('otp')?.errors?.['required'] || otpForm.get('otp')?.errors?.['whitespace']">
                            OTP is required. It cannot be empty or consist only of spaces.</div>
                        <div *ngIf="otpForm.get('otp')?.errors?.['pattern']">OTP must be 5 digits.</div>
                    </div>
                    <div class="mt-6">
                        <button type="submit" [disabled]="otpForm.invalid"
                            class="w-full px-4 py-3 bg-blue-600 text-white text-base font-medium rounded-lg shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300 transition duration-150 ease-in-out">
                            Verify OTP
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Close button -->
        <button class="absolute top-0 right-0 p-2 text-gray-500 hover:text-gray-700" (click)="onCloseModal()">
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM17.6569 7.65685C18.0474 7.26634 18.0474 6.63321 17.6569 6.24268C17.2664 5.85216 16.6332 5.85216 16.2427 6.24268L12 10.4853L7.75737 6.24268C7.36686 5.85216 6.73373 5.85216 6.34322 6.24268C5.9527 6.63321 5.9527 7.26634 6.34322 7.65685L10.5858 11.8995L6.34322 16.1421C5.9527 16.5326 5.9527 17.1657 6.34322 17.5562C6.73373 17.9467 7.36686 17.9467 7.75737 17.5562L12 13.3137L16.2427 17.5562C16.6332 17.9467 17.2664 17.9467 17.6569 17.5562C18.0474 17.1657 18.0474 16.5326 17.6569 16.1421L13.4142 11.8995L17.6569 7.65685Z"
                    fill="currentColor" />
            </svg>
        </button>
    </div>
</div>